:root{
    --main-bg: #ffffff;
    --second-bg: #fafafb;
    --txt-color: #455560;
    --txt-white: #fff;
    --main-color: transparent;
    --second-color: transparent;
    --second-color-soft: transparent;
    --main-bg-light: #ffffff;
    --second-bg-light: #fafafb;
    --txt-color-light: #455560;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --toggle-mleft-light: 44%;
    --toggle-mright-light: unset;
    --main-bg-dark: #2d2d2d;
    --second-bg-dark: #202020;
    --txt-color-dark: #bbbbbb;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    --toggle-mleft-dark: unset;
    --toggle-mright-dark: 44%;
    --main-color-blue: #349eff;
    --main-color-blue-soft: #349eff0c;
    --second-color-blue: #62b4ff;
    --second-color-soft-blue: #62b4ff0c;
    --main-color-red: #fb0b12;
    --main-color-red-soft: #fb0b120c;
    --second-color-red: #d22746;
    --second-color-soft-red: #ff4a6b0c;
    --main-color-crimson: #dc143c;
    --main-color-crimson-soft: #dc143c0c;
    --second-color-crimson: #c64d65;
    --second-color-soft-crimson: #c64d650c;
    --main-color-cyan: #10d4d2;
    --main-color-cyan-soft: #10d4d20c;
    --second-color-cyan: #2ae9e6;
    --second-color-soft-cyan: #2ae9e60c;
    --main-color-green: #20b042;
    --main-color-green-soft: #20b0420c;
    --second-color-green: #4caf50;
    --second-color-soft-green: #4caf500c;
    --main-color-orange: #fc5214;
    --main-color-orange-soft: #fc52140c;
    --second-color-orange: #fca11a;
    --second-color-soft-orange: #fca11a0c;
    --sidebar-width: 300px;
    --border-radius: 15px;
    --topnav-height: 110px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

[theme-mode=theme-mode-light] {
    --main-bg: var(--main-bg-light);
    --second-bg: var(--second-bg-light);
    --txt-color: var(--txt-color-light);
    --box-shadow: var(--box-shadow-light);
    --toggle-mleft: var(--toggle-mleft-light);
    --toggle-mright: var(--toggle-mright-light);
}

[theme-mode=theme-mode-dark] {
    --main-bg: var(--main-bg-dark);
    --second-bg: var(--second-bg-dark);
    --txt-color: var(--txt-color-dark);
    --box-shadow: var(--box-shadow-dark);
    --toggle-mleft: var(--toggle-mleft-dark);
    --toggle-mright: var(--toggle-mright-dark);
}

[theme-color=theme-color-blue] {
    --main-color: var(--main-color-blue);
    --main-color-soft: var(--main-color-blue-soft);
    --second-color: var(--second-color-blue);
    --second-color-soft: var(--second-color-soft-blue);
}

[theme-color=theme-color-red] {
    --main-color: var(--main-color-red);
    --main-color-soft: var(--main-color-red-soft);
    --second-color: var(--second-color-red);
    --second-color-soft: var(--second-color-soft-red);
}

[theme-color=theme-color-crimson] {
    --main-color: var(--main-color-crimson);
    --main-color-soft: var(--main-color-crimson-soft);
    --second-color: var(--second-color-crimson);
    --second-color-soft: var(--second-color-soft-crimson);
}

[theme-color=theme-color-cyan] {
    --main-color: var(--main-color-cyan);
    --main-color-soft: var(--main-color-cyan-soft);
    --second-color: var(--second-color-cyan);
    --second-color-soft: var(--second-color-soft-cyan);
}

[theme-color=theme-color-green] {
    --main-color: var(--main-color-green);
    --main-color-soft: var(--main-color-green-soft);
    --second-color: var(--second-color-green);
    --second-color-soft: var(--second-color-green);
}

[theme-color=theme-color-orange] {
    --main-color: var(--main-color-orange);
    --main-color-soft: var(--main-color-orange-soft);
    --second-color: var(--second-color-orange);
    --second-color-soft: var(--second-color-orange);
}


*::-moz-selection { /* Code for Firefox */
    background: var(--main-color);
}

*::selection {
    background: var(--main-color);
}
